@model loan_calculator_mvc.Models.Loan

<div class="container">
    <h1 class="mb-2">Loan Calculator</h1>

    <div class="row">
        <div class="col">
            <form asp-controller="Home" asp-action="App" method="post" class="loan-form">
                <div class="form-row">

                    <div class="col-12 form-group">
                        <label asp-for="Amount">Loan Amount:</label>
                        <input type="number" class="form-control" id="loan-amount" min="1000" step="500" value="@Model.Amount" asp-for="Amount" />
                    </div>

                    <div class="col-12 form-group">
                        <label asp-for="Term">Term:</label>
                        <input type="number" class="form-control" id="term" min="1" value="@Model.Term" asp-for="Term" />
                    </div>

                    <div class="col-12 form-group">
                        <label asp-for="Rate">Rate:</label>
                        <input type="number" class="form-control" id="rate" min="1" step=".5" value="@Model.Rate" asp-for="Rate" />
                    </div>

                </div>

                <button type="submit" class="btn btn-dark mt-2 btn-cfOrange">Calculate</button>

            </form>
        </div>
        <div class="col">

            <div id="loan-summary">
                <p>Your Monthly Payments</p>
                <p id="monthly-payment">@Model.Payment.ToString("C")</p>

                <div class="row">
                    <div class="col-6">
                        <label class="text-left">Total Principal</label>
                    </div>
                    <div class="col-6 text-right" id="total-principal">
                        @Model.Amount.ToString("C")
                    </div>

                    <div class="col-6">
                        <label class="text-left">Total Interest</label>
                    </div>
                    <div class="col-6 text-right" id="total-interest">
                        @Model.TotalInterest.ToString("C")
                    </div>

                    <div class="col-6">
                        <label class="text-left">Total Cost</label>
                    </div>
                    <div class="col-6 text-right" id="total-cost">
                        @Model.TotalCost.ToString("C")
                    </div>
                </div>
            </div>

        </div>
    </div>

    @if (Model.Payments.Count > 0)
    {
        <div class="row">
            <div class="col">
                <table id="tableheader" class="table table-striped table-hover text-white">
                    <thead>
                        <tr>
                            <th>Month</th>
                            <th>Payment</th>
                            <th>Principal</th>
                            <th>Interest</th>
                            <th>Total Interest</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Payments)
{
                                <tr>
                                    <td>@item.Month</td>
                                    <td>@item.Payment.ToString("C")</td>
                                    <td>@item.MonthlyPrincipal.ToString("C")</td>
                                    <td>@item.MonthlyInterest.ToString("C")</td>
                                    <td>@item.TotalInterest.ToString("C")</td>
                                    <td>@item.Balance.ToString("C")</td>
                                </tr>
}
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>

